@model AssetViewModel

@{
	ViewBag.Title = "Details of the Asset";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<h1> @Model.Title</h1>

<div class="card">
	<div class="row">
		<div class="col-md-6">
			<img class="card-img-top" style="width: 100%;" src="~/Images/@Model.Thumbnail" alt="Thumbnail">
		</div>
		<div class="col-md-4">
			<div class="mt-4">
				<div class="row">
					<!-- Likes -->
					<div class="col-md-3 mt-2">
						<p>
							<span class="material-symbols-outlined">
								thumb_up
							</span>
							<span id="likeCount">
								@Model.Likes.Count()
							</span>
						</p>
					</div>
					<!-- Like Button -->
					<div class="col-md-4">
						@if (User.Identity?.IsAuthenticated ?? false)
						{
							if (User.Identity.Name != Model.Seller)
							{
								<button class="btn btn-outline-primary"
										id="likeButton" data-asset-id="@Model.Id"
										data-liked="@Model.IsLikedByCurrentUser"
										style="width: 100px; height: 40px;">
									@(Model.IsLikedByCurrentUser ? "Unlike" : "Like")
								</button>
							}
						}
						else
						{
							<a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Login" style="width: 100px; height: 40px;">Like</a>
						}
					</div>
				</div>

				@*Details*@
				<div class="card col-md-12">
					<h4>Details</h4>
					<p class="card-text">Category: @Model.Category</p>
					<p class="card-text">Uploaded By: @Model.Seller</p>
					<p class="card-text">Uploaded On: @Model.UploadDate.ToString("yyyy-MM-dd")</p>
					<p class="card-text">CGI Model: @(Model.CGIModel ? "Yes" : "No")</p>
					<p class="card-text">Textures: @(Model.Textures ? "Yes" : "No")</p>
					<p class="card-text">Materials: @(Model.Materials ? "Yes" : "No")</p>
					<p class="card-text">Animated: @(Model.Animated ? "Yes" : "No")</p>
					<p class="card-text">Rigged: @(Model.Rigged ? "Yes" : "No")</p>
					<p class="card-text">Low Poly: @(Model.LowPoly ? "Yes" : "No")</p>
					<p class="card-text">PBR: @(Model.PBR ? "Yes" : "No")</p>
					<p class="card-text">UV Unwrapped: @(Model.UVUnwrapped ? "Yes" : "No")</p>
				</div>
			</div>
		</div>
		@*Buttons*@
		<div class="col-md-2">
			<div class="mt-4">
				<div class="col-md-12">
					<!-- Price -->
					<h3 class="card-text">$@Model.Price</h3>
				</div>
				<div class="col-md-12 mt-2">
					<!-- Download Button -->
					@if (User.Identity?.IsAuthenticated ?? false)
					{
						@if (Model.Seller != User.Identity?.Name)
						{
							<a asp-controller="Store" asp-action="Download" asp-route-assetId="@Model.Id" class="btn btn-primary btn-lg">Buy Asset</a>
						}
						else
						{
							<a asp-controller="Store" asp-action="Edit" asp-route-assetId="@Model.Id" class="btn btn-primary btn-lg">Edit Asset</a>
						}
					}
					else
					{
						<a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Buy Asset</a>
					}
				</div>
				<div class="col-md-12 mt-4">
					@* Favorites Button *@
					@if (User.Identity?.IsAuthenticated ?? false)
					{
						if (User.Identity.Name != Model.Seller)
						{
							<button class="btn btn-outline-primary btn"
									id="favoriteButton"
									data-asset-id="@Model.Id"
									data-liked="@Model.IsFavoritedByCurrentUser"
									style="width: 120px; height: 70px;">
								@(Model.IsFavoritedByCurrentUser ? "Remove from Favorites" : "Add to Favorites")
							</button>
						}
					}
					else
					{
						<a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Login">Add to Favorites</a>
					}
				</div>
				<div class="col-md-12 mt-4">
					@* Remove Button *@
					@if (Model.Seller == User.Identity?.Name)
					{
						<form asp-controller="Store"
							  asp-action="Remove" method="post">

							<input type="hidden" name="assetId" value="@Model.Id" />

							<button type="submit" class="btn btn-primary"
									onclick="return confirm('Are you sure you want to remove this asset?');">
								Remove Asset
							</button>
						</form>
					}
				</div>
			</div>
		</div>
		@*Description*@
		<div class="card-body">
			<h4 class="card-title">Description:</h4>
			<p class="card-text">@Model.Description</p>
		</div>
	</div>
</div>

@*Images*@
<div id="assetCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		@for (int i = 0; i < Model.Images.Count(); i++)
		{
			<li data-target="#carouselExampleIndicators"
				data-slide-to="@i"
				class=" @(i == 0 ? "active" : "")"></li>
		}
	</ol>
	<div class="carousel-inner">
		@foreach (var image in Model.Images)
		{
			var index = Model.Images.ToList().IndexOf(image);
			<div class="carousel-item @(index == 0 ? "active" : "")">
				<img src="~/Images/@image" class="d-block w-100" alt="Asset Image">
			</div>
		}
	</div>
	<a class="carousel-control-prev" href="#assetCarousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#assetCarousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<!-- TO DO: Comment Form will be availible as "Review Asset" only for users who purchused the asset-->
@if (User.Identity?.IsAuthenticated ?? false)
{
	<div class="mt-4">
		<div class="form-group">
			<label for="commentText">Write a comment:</label>
			<textarea class="form-control" id="commentContent" name="Content" rows="3" required></textarea>
		</div>
		<button type="button"
				data-asset-id="@Model.Id"
				id="addCommentButton"
				class="btn btn-primary">
			Submit
		</button>
	</div>
}

<!-- Comments Display -->
<div class="mt-4">
	<h4>Comments:</h4>
	<div id="commentsContainer">
		@if (Model.Comments != null && Model.Comments.Any())
		{
			foreach (var comment in Model.Comments)
			{
				<div class="card mt-2">
					<div data-comment-id="@comment.Id">
						<h5 class="card-title">Writen by: @comment.User</h5>
						<p class="card-text">@comment.Content</p>
						<p class="card-text">Posted on: @comment.PostedDate.ToString("yyyy-MM-dd")</p>
						@if ((User.Identity?.IsAuthenticated ?? false) && User.Identity.Name == comment.User)
						{
							<button type="button" class="btn btn-danger btn-sm" onclick="removeComment('@comment.Id')">Remove</button>
						}
					</div>
				</div>
			}
		}
		else
		{
			if (User.Identity?.IsAuthenticated ?? false)
			{
				<p id="writeComment">Write the first comment!</p>
			}
			else
			{
				<p id="writeComment">There are no comments yet.</p>
			}
		}
	</div>
</div>

@section Scripts {
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script src="~/js/like.js"></script>
	<script src="~/js/Comment.js"></script>
	<script src="~/js/RemoveComment.js"></script>
	<script src="~/js/Favorite.js"></script>

}