@model CommentViewModel

<div class="card mt-2">
	<div data-comment-id="@Model.Id">
		<h5 class="card-title">Writen by: @Model.User</h5>
		<p class="card-text">@Model.Content</p>
		<p class="card-text">Posted on: @Model.PostedDate.ToString("yyyy-MM-dd")</p>
		@if ((User.Identity?.IsAuthenticated ?? false) && User.Identity.Name == Model.User)
		{
			<button type="button" class="btn btn-danger btn-sm" onclick="removeComment('@Model.Id')">Remove</button>
		}
	</div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/RemoveComment.js"></script>
}