@model AddAssetViewModel
@using System.Globalization

@{
    ViewBag.Title = "Add your art";
}
@{
    var decimalSeparator = System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator;
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="Title" required>
    </div>

    <div class="form-group">
        <label for="Images">Images</label>
        <input type="file" id="Images" name="Images" multiple class="form-control-file" accept=".png, .jpeg, .jpg" />
    </div>

    <div class="form-group">
        <label for="thumbnail">Thumbnail</label>
        <input type="file" class="form-control-file" id="thumbnail" name="Thumbnail" accept=".png, .jpeg, .jpg">
    </div>

    <div class="form-group">
        <label for="zipFile">Zip File</label>
        <input type="file" class="form-control-file" id="zipFile" name="ZipFileName" accept=".zip">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="Description" rows="4" required></textarea>
    </div>

    <div class="form-group">
        <label>Technical Details</label>
        <div class="btn-group-toggle" data-toggle="buttons">
            <div class="form-group">
                <label>Technical Details</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <input type="checkbox" class="btn-check" id="CGIModel" @(Model.CGIModel ? "checked" : "") autocomplete="off">
                    <label class="btn @(Model.CGIModel ? "btn btn-outline-primary" : "btn btn-outline-secondary")" for="CGIModel">CGI Model</label>

                    <input type="checkbox" class="btn-check" id="Textures" @(Model.Textures ? "checked" : "") autocomplete="off">
                    <label class="btn @(Model.Textures ? "btn btn-outline-primary active" : "btn btn-outline-secondary")" for="Textures">Textures</label>

                    <input type="checkbox" class="btn-check" id="Materials" @(Model.Materials ? "checked" : "") autocomplete="off">
                    <label class="btn @(Model.Materials ? "btn btn-outline-primary active" : "btn btn-outline-secondary")" for="Materials">Materials</label>

                    <input type="checkbox" class="btn-check" id="Animated" @(Model.Animated ? "checked" : "") autocomplete="off">
                    <label class="btn @(Model.Animated ? "btn btn-outline-primary active" : "btn btn-outline-secondary")" for="Animated">Animated</label>

                    <input type="checkbox" class="btn-check" id="Rigged" @(Model.Rigged ? "checked" : "") autocomplete="off">
                    <label class="btn @(Model.Rigged ? "btn btn-outline-primary active" : "btn btn-outline-secondary")" for="Rigged">Rigged</label>

                    <input type="checkbox" class="btn-check" id="LowPoly" @(Model.LowPoly ? "checked" : "") autocomplete="off">
                    <label class="btn @(Model.LowPoly ? "btn btn-outline-primary active" : "btn btn-outline-secondary")" for="LowPoly">Low Poly</label>

                    <input type="checkbox" class="btn-check" id="PBR" @(Model.PBR ? "checked" : "") autocomplete="off">
                    <label class="btn @(Model.PBR ? "btn btn-outline-primary active" : "btn btn-outline-secondary")" for="PBR">PBR</label>

                    <input type="checkbox" class="btn-check" id="UVUnwrapped" @(Model.UVUnwrapped ? "checked" : "") autocomplete="off">
                    <label class="btn @(Model.UVUnwrapped ? "btn btn-outline-primary active" : "btn btn-outline-secondary")" for="UVUnwrapped">UV Unwrapped</label>
                </div>
            </div>

        </div>
    </div>

    <div class="form-group">
        <label for="categoryId">Category</label>
        <select class="form-control" id="categoryId" name="CategoryId" required>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="Price" step="0.01" required>
    </div>

    <button type="submit" class="btn btn-primary">Add Asset</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
