@model PaginatedAssetViewModel

@{
    ViewBag.Title = "All of the Assets";
}

<div class="container">
    <h1>Assets</h1>

    <div class="row">
        @foreach (var asset in Model.Assets)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/@asset.Thumbnail" alt="Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">@asset.Title</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: @asset.Price</li>
                    <li class="list-group-item">Uploaded By: @asset.Seller</li>
                    <li class="list-group-item">Uploaded On: @asset.UploadDate.ToString("yyyy-MM-dd")</li>
                </ul>
                <div class="card-body">
                    <a asp-controller="Asset" asp-action="Details"
                       asp-route-id="@asset.Id" class="btn btn-info">View Details</a>
                </div>
            </div>
        }
    </div>

    <!-- Pagination links -->
    <div class="row m-4">
        <div class="col-md-12">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    @if (Model.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Asset" asp-action="All"
                               asp-route-page="1" asp-route-itemsPerPage="@Model.ItemsPerPage">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-controller="Asset" asp-action="All"
                               asp-route-page="@Model.CurrentPage - 1" asp-route-itemsPerPage="@Model.ItemsPerPage">Previous</a>
                        </li>
                    }

                    @for (int i = 1; i <= Math.Ceiling((double)Model.TotalItems / Model.ItemsPerPage); i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-controller="Asset" asp-action="All"
                               asp-route-page="@i" asp-route-itemsPerPage="@Model.ItemsPerPage">@i</a>
                        </li>
                    }

                    @if (Model.CurrentPage < Math.Ceiling((double)Model.TotalItems / Model.ItemsPerPage))
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Asset" asp-action="All"
                               asp-route-page="@Model.CurrentPage + 1" asp-route-itemsPerPage="@Model.ItemsPerPage">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-controller="Asset" asp-action="All"
                               asp-route-page="@Math.Ceiling((double)Model.TotalItems / Model.ItemsPerPage)"
                               asp-route-itemsPerPage="@Model.ItemsPerPage">Last</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
