@model IEnumerable<AssetViewModel>

@{
    ViewBag.Title = "All of the Assets";
}

<div class="container">
    <h1>All Assets</h1>
    <hr />

    <div class="row">
        @foreach (var asset in Model)
        {
            <div class="col-md-3">
                <div class="card mb-4">
                    <img class="card-img-top" style="width: 18rem;"
                         src="~/Images/@asset.Thumbnail" alt="Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">@asset.Title</h5>
                        <p class="card-text">Price: @asset.Price</p>
                        <p class="card-text">Uploaded By: @asset.SellerName</p>
                        <p class="card-text">Uploaded On: @asset.UploadDate.ToString("yyyy-MM-dd")</p>
                        <a asp-controller="Asset" asp-action="Details" 
                           asp-route-id="@asset.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">View Details</a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
