@model AssetViewModel

@{
	ViewBag.Title = "Details of the Asset";
}

<h1>Asset Details</h1>

@*Information about the Asset*@
<div class="card">
	<div class="card-body">
		<h3 class="card-title">Title: @Model.Title</h3>
		<img class="card-img-top" style="width: 18rem;"
			 src="~/Images/@Model.Thumbnail" alt="Thumbnail">
		<p class="card-text">Description: @Model.Description</p>
		<p class="card-text">Price: @Model.Price</p>
		<p class="card-text">Category: @Model.Category</p>
		<p class="card-text">Uploaded By: @Model.Seller</p>
		<p class="card-text">Uploaded On: @Model.UploadDate.ToString("yyyy-MM-dd HH:mm:ss")</p>
		<p class="card-text">CGI Model: @(Model.CGIModel ? "Yes" : "No")</p>
		<p class="card-text">Textures: @(Model.Textures ? "Yes" : "No")</p>
		<p class="card-text">Materials: @(Model.Materials ? "Yes" : "No")</p>
		<p class="card-text">Animated: @(Model.Animated ? "Yes" : "No")</p>
		<p class="card-text">Rigged: @(Model.Rigged ? "Yes" : "No")</p>
		<p class="card-text">Low Poly: @(Model.LowPoly ? "Yes" : "No")</p>
		<p class="card-text">PBR: @(Model.PBR ? "Yes" : "No")</p>
		<p class="card-text">UV Unwrapped: @(Model.UVUnwrapped ? "Yes" : "No")</p>
	</div>
</div>

@*Likes*@
<div class="mt-4">
	<p>Likes: <span id="likeCount">@Model.Likes.Count()</span></p>
	@if (User.Identity.IsAuthenticated)
	{
		<button class="btn btn-outline-primary"
				id="likeButton"
				data-asset-id="@Model.Id"
				data-liked="@Model.IsLikedByCurrentUser">
			@(Model.IsLikedByCurrentUser ? "Unlike" : "Like")
		</button>
	}
</div>

@*Images*@
<div class="mt-4">
	<h4>Images:</h4>
	@foreach (var image in Model.Images)
	{
		<img src="~/Images/@image" alt="Asset Image" class="img-thumbnail">
	}
</div>

<div class="row mt-4">
	<div class="col-md-2">
		@* Download Button *@
		@if (Model.Seller != User.Identity?.Name)
		{
			<a asp-controller="Asset" asp-action="Download"
			   asp-route-assetId="@Model.Id" class="btn btn-primary btn-lg">Buy Asset</a>
		}
	</div>

	<div class="col-md-6">
		@* Favorites Button *@
		@if (Model.Seller != User.Identity?.Name && User.Identity.IsAuthenticated)
		{
			<button class="btn btn-outline-primary btn-lg"
					id="favoriteButton"
					data-asset-id="@Model.Id"
					data-liked="@Model.IsFavoritedByCurrentUser">
				@(Model.IsFavoritedByCurrentUser ? "Remove from Favorites" : "Add to Favorites")
			</button>
		}
	</div>
</div>

	<!-- Comment Form -->
@if (User.Identity.IsAuthenticated)
{
	<div class="mt-4">
		<div class="form-group">
			<label for="commentText">Write a comment:</label>
			<textarea class="form-control" id="commentContent" name="Content" rows="3" required></textarea>
		</div>
		<button type="button"
				data-asset-id="@Model.Id"
				id="addCommentButton"
				class="btn btn-primary">
			Submit
		</button>
	</div>
}

<!-- Comments Display -->
<div class="mt-4">
	<h4>Comments:</h4>
	<div id="commentsContainer">
		@if (Model.Comments != null && Model.Comments.Any())
		{
			foreach (var comment in Model.Comments)
			{
				<div class="card mt-2">
					<div data-comment-id="@comment.Id">
						<h5 class="card-title">User: @comment.User</h5>
						<p class="card-text">Comment: @comment.Content</p>
						<p class="card-text">Posted on: @comment.PostedDate</p>
						@if (User.Identity.IsAuthenticated && User.Identity.Name == comment.User)
						{
							<button type="button" class="btn btn-danger btn-sm" onclick="removeComment('@comment.Id')">Remove</button>
						}
					</div>
				</div>
			}
		}
		else
		{
			<p id="writeComment">Write the first comment!</p>
		}
	</div>
</div>

@section Scripts {
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="~/js/like.js"></script>
	<script src="~/js/Comment.js"></script>
	<script src="~/js/RemoveComment.js"></script>
	<script src="~/js/Favorite.js"></script>

}