@model AssetViewModel

@{
	ViewBag.Title = "Details of the Asset";
}

<h1> @Model.Title</h1>

<div class="card">
	<div class="row">
		<div class="col-md-6">
			<img class="card-img-top" style="width: 100%;" src="~/Images/@Model.Thumbnail" alt="Thumbnail">
		</div>
		<div class="col-md-4">
			<div class="mt-4">
				<div class="col-md-4">
					<i class="img-thumbnail"></i>
					<p>Likes: <span id="likeCount">@Model.Likes.Count()</span></p>
				</div>
				@*Details*@
				<div class="card col-md-12">
					<h4>Details</h4>
					<p class="card-text">Category: @Model.Category</p>
					<p class="card-text">Uploaded By: @Model.Seller</p>
					<p class="card-text">Uploaded On: @Model.UploadDate.ToString("yyyy-MM-dd")</p>
					<p class="card-text">CGI Model: @(Model.CGIModel ? "Yes" : "No")</p>
					<p class="card-text">Textures: @(Model.Textures ? "Yes" : "No")</p>
					<p class="card-text">Materials: @(Model.Materials ? "Yes" : "No")</p>
					<p class="card-text">Animated: @(Model.Animated ? "Yes" : "No")</p>
					<p class="card-text">Rigged: @(Model.Rigged ? "Yes" : "No")</p>
					<p class="card-text">Low Poly: @(Model.LowPoly ? "Yes" : "No")</p>
					<p class="card-text">PBR: @(Model.PBR ? "Yes" : "No")</p>
					<p class="card-text">UV Unwrapped: @(Model.UVUnwrapped ? "Yes" : "No")</p>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="mt-4">
				<div class="row">
					<div class="col-md-12">
						<!-- Price -->
						<h3 class="card-text">$@Model.Price</h3>
					</div>
					<div class="col-md-12 mt-2">
						<!-- Download Button -->
						@if (User.Identity?.IsAuthenticated ?? false)
						{
							@if (Model.Seller != User.Identity?.Name)
							{
								<a asp-controller="Asset" asp-action="Download" asp-route-assetId="@Model.Id" class="btn btn-primary btn-lg">Buy Asset</a>
							}
							else
							{
								<a asp-controller="Asset" asp-action="Edit" asp-route-assetId="@Model.Id" class="btn btn-primary btn-lg">Edit Asset</a>
							}
						}
						else
						{
							<a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Buy Asset</a>
						}
					</div>
					<div class="col-md-12 mt-4">
						@* Favorites Button *@
						@if (Model.Seller != User.Identity?.Name && (User.Identity?.IsAuthenticated ?? false))
						{
							<button class="btn btn-outline-primary " id="favoriteButton" data-asset-id="@Model.Id" data-liked="@Model.IsFavoritedByCurrentUser">
								@(Model.IsFavoritedByCurrentUser ? "Remove from Favorites" : "Add to Favorites")
							</button>
						}
						else
						{
							<a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Login">Add to Favorites</a>
						}
					</div>
				</div>
			</div>
		</div>
		<div class="card-body">
			<h4 class="card-title">Description</h4>
			<p class="card-text">Description: @Model.Description</p>
		</div>
	</div>
</div>

@*Images*@
<div class="mt-4">
	<h4>Images:</h4>
	@foreach (var image in Model.Images)
	{
		<img src="~/Images/@image" alt="Asset Image" class="img-thumbnail">
	}
</div>

<div class="row mt-4">
	@* Likes *@
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-2">
				<p>Likes: <span id="likeCount">@Model.Likes.Count()</span></p>
			</div>
			<div class="col-md-1">
				@if (User.Identity?.IsAuthenticated ?? false)
				{
					<button class="btn btn-outline-primary" id="likeButton" data-asset-id="@Model.Id" data-liked="@Model.IsLikedByCurrentUser">
						@(Model.IsLikedByCurrentUser ? "Unlike" : "Like")
					</button>
				}
			</div>
		</div>
	</div>

</div>


<!-- Comment Form -->
@if (User.Identity?.IsAuthenticated ?? false)
{
	<div class="mt-4">
		<div class="form-group">
			<label for="commentText">Write a comment:</label>
			<textarea class="form-control" id="commentContent" name="Content" rows="3" required></textarea>
		</div>
		<button type="button"
				data-asset-id="@Model.Id"
				id="addCommentButton"
				class="btn btn-primary">
			Submit
		</button>
	</div>
}

<!-- Comments Display -->
<div class="mt-4">
	<h4>Comments:</h4>
	<div id="commentsContainer">
		@if (Model.Comments != null && Model.Comments.Any())
		{
			foreach (var comment in Model.Comments)
			{
				<div class="card mt-2">
					<div data-comment-id="@comment.Id">
						<h5 class="card-title">User: @comment.User</h5>
						<p class="card-text">Comment: @comment.Content</p>
						<p class="card-text">Posted on: @comment.PostedDate</p>
						@if ((User.Identity?.IsAuthenticated ?? false) && User.Identity.Name == comment.User)
						{
							<button type="button" class="btn btn-danger btn-sm" onclick="removeComment('@comment.Id')">Remove</button>
						}
					</div>
				</div>
			}
		}
		else
		{
			if (User.Identity?.IsAuthenticated ?? false)
			{
				<p id="writeComment">Write the first comment!</p>

			}
		}
	</div>
</div>

@section Scripts {
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="~/js/like.js"></script>
	<script src="~/js/Comment.js"></script>
	<script src="~/js/RemoveComment.js"></script>
	<script src="~/js/Favorite.js"></script>

}